.contenedorFullCalendar{
    padding: 15px;
}

.fc-toolbar-title{
    cursor: pointer;
    text-align: center;
}

.fc-daygrid-day-number{
    cursor: pointer;
}

.fc-col-header-cell-cushion{
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.fc-daygrid-day-number{
    color: rgb(59, 59, 59);
    text-decoration: none;
}
.fc-daygrid-event{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.fc-timegrid-event{
    cursor: pointer;
}

.fc-event-title{
    text-decoration: none;
}

.fc-event-time{
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.fc-event-title{
    font-weight: bolder;
    font-size: 12px;
    color: rgb(59, 59, 59);
}

@media (max-width: 768px) {
    .fc-event-time{
        font-size: 9px;
    }
    
    .fc-event-title{
        display: none;
    }

    .fc-daygrid-event-harness{
        max-width: min-content;
    }

    /*.fc-col-header-cell-cushion{
        font-size: 10px;
    }*/

    .fc-scrollgrid-sync-inner{
        margin-top: -3px;
    }

    .fc-button{
        width: 30px;
    }

    .fc-icon{
        margin-left: -8px;
    }
}

@media (max-width: 500px) {
    .fc-col-header-cell-cushion{
        font-size: 9px;
    }

    .fc-scrollgrid-sync-inner{
        margin-top: -0px;
    }
}

.fc-col-header-cell{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.fc-timegrid-slot-label-cushion{
    transform: translate(-14%);
    cursor: pointer;
}

.fc-timegrid-axis-cushion{
    cursor: pointer;
    text-align: center;
}

.ocultar{
    display: none;
}

.botonEnviarSolicitud{
    margin-left: 5px;
}

.botonConfirmarSolicitud{
    margin-left: 5px;
    width: 100px;
    height: 38px;
}

.confSoliCarg{
    font-size: 12px;
    display: none;
    margin: 0 auto;
}

.fc-daygrid-more-link{
    text-decoration: none;
    color: white;
    background-color: #8d8d8d;
    border-radius: 5px;
}

.fc-daygrid-more-link:hover{
    background-color: #b4b4b4;
    color: white;
}

/*#calendar {
    max-width: 1100px;
    margin: 40px auto;
}*/

.fc-timegrid-slot-label-frame {
    height: 30px;
}