.contenedorFullCalendar{
    padding: 15px;
}

.fc-toolbar-title{
    cursor: pointer;
    text-align: center;
}

.fc-col-header-cell-cushion{
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.fc-daygrid-day-number{
    color: rgb(59, 59, 59);
    text-decoration: none;
}
.fc-daygrid-event{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.fc-timegrid-event{
    cursor: pointer;
}

.fc-event-title{
    text-decoration: none;
}

.fc-event-time{
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.fc-event-title{
    font-weight: bolder;
    font-size: 12px;
    color: rgb(59, 59, 59);
}

@media (max-width: 768px) {
    .fc-event-time{
        font-size: 9px;
    }
    
    .fc-event-title{
        display: none;
    }

    .fc-daygrid-event-harness{
        max-width: min-content;
    }

    .fc-col-header-cell-cushion{
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .fc-col-header-cell-cushion{
        font-size: 6.5px;
    }

    .fc-scrollgrid-sync-inner{
        margin-top: -5px;
    }
}

.fc-col-header-cell{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.fc-timegrid-slot-label-cushion{
    transform: translate(-14%);
    cursor: pointer;
}

.fc-timegrid-axis-cushion{
    cursor: pointer;
    text-align: center;
}