.contenedorFullCalendar{
    padding: 15px;
}

.fc-toolbar-title{
    cursor: pointer;
    text-align: center;
}

.fc-daygrid-day-number{
    cursor: pointer;
}

.fc-col-header-cell-cushion{
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.fc-daygrid-day-number{
    color: rgb(59, 59, 59);
    text-decoration: none;
}
.fc-daygrid-event{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.fc-timegrid-event{
    cursor: pointer;
}

.fc-event-title{
    text-decoration: none;
}

.fc-event-time{
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.fc-event-title{
    font-weight: bolder;
    font-size: 12px;
    color: rgb(59, 59, 59);
}

@media (max-width: 768px) {
    .fc-event-time{
        font-size: 7px;
    }
    
    .fc-event-title{
        font-size: 0px;
    }

    .fc-daygrid-event-harness{
        max-width: min-content;
    }

    /*.fc-col-header-cell-cushion{
        font-size: 10px;
    }*/

    .fc-scrollgrid-sync-inner{
        margin-top: -3px;
    }

    .fc-button{
        width: 30px;
    }

    .fc-icon{
        margin-left: -8px;
    }
}

@media (max-width: 500px) {
    .fc-col-header-cell-cushion{
        font-size: 9px;
    }

    .fc-scrollgrid-sync-inner{
        margin-top: -0px;
    }
}

.fc-col-header-cell{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.fc-timegrid-slot-label-cushion{
    transform: translate(-14%);
    cursor: pointer;
}

.fc-timegrid-axis-cushion{
    cursor: pointer;
    text-align: center;
}

.ocultar{
    display: none;
}

.botonEnviarSolicitud{
    margin-left: 5px;
}

.botones{
    margin-left: 5px;
    width: 100px;
    height: 38px;
}

.aspectoSpinner{
    font-size: 12px;
    display: none;
    margin: 0 auto;
}

.fc-daygrid-more-link{
    text-decoration: none;
    color: white;
    background-color: #8d8d8d;
    border-radius: 5px;
}

.fc-daygrid-more-link:hover{
    background-color: #b4b4b4;
    color: white;
}

.fc-timegrid-slot-label-frame {
    height: 30px;
}

.vista-paciente{
    display: none;
}

.vista-profesional{
    display: none;
}

/*verificar*/
.botonDescargarGrilla{
    text-align: center;
    background-color: #2C3E50;
    color: #FFF;
    border-radius: 5px;
    padding: 7px;
    border: none;
    width: 100%;
}

.botonDescargarGrilla:hover{
    background-color: #1E2B37;
}

.botonDescargarGrilla:disabled{
    background-color: #999;
}

.cargandoDescargaGrilla{
    font-size: 10px;
}

.loader {
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 100%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
   }
   
.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.zoom{
    height: 890px;
}

.altoGrilla{
    height: 650px;
}