body{
    background-color: rgb(40, 46, 55);
}

.fondoCalendario{
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1%;
    background-color: aliceblue;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: rgb(80, 80, 80);
}

.fc .fc-daygrid-day-number {
    color: rgb(80, 80, 80);
    text-decoration: none;
}

.fc .fc-timegrid-slot-label-cushion {
    color: rgb(80, 80, 80);
    text-decoration: none;
}

/*fc-timegrid-slot fc-timegrid-slot-lane */
.fc .fc-timegrid-slot-lane::before {
    color: rgb(80, 80, 80);
    content: "Hola buenos dias: ";
}



/*.fc .fc-timegrid-slot-label-cushion {
    background-color: bisque;
}*/

.fc .fc-timegrid-slot-label-cushion::before {
    content: "Desde las ";
  }

.fc .fc-timegrid-event-harness{
    display: block;
    cursor: pointer;/*no-drop*/
}

/*.fc{
    font-family: 'Poppins', sans-serif;
}*/

/*

   fc-scrollgrid-shrink-cushion
*/

.fc .fc-event-time{
    font-weight: bold;
    padding-left: 1%;
}

.fc .fc-event-title-container{
    font-weight: bold;
}