body{
	background: url('../img/fondomed.jpg');
	width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#map {
	height: 100%;
	width: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.carta{
	width: 100%;
}

.botonProfesional{
	margin-top: 4%;
	width: 100%;
}

.campos{
	margin-bottom: 3%;
}

.contenedores{
	padding: 10px;
	padding-bottom: 1%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.centrado{
	display: flex;
	justify-content: center;
	/*align-items: center; -- centrado vertical*/
}

.textoCentrado{
	text-align: center;
	/*align-items: center; -- centrado vertical*/
}

@media (max-width: 768px) {
    .infoProfesional{
		font-size: small;
	}

	.padding{
		padding: 3.5%;
	}

	.titulos{
		font-size: small;
	}

	.campos{
		margin-bottom: 1%;
	}

	.contenedores{
		padding: 10px;
		padding-bottom: 10px;
		margin-top: 10px;
	}

	.margenes-celulares{
		margin: 10px;
	}
}

.mapa{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	height: 100%;
}

.fotoProfesional{
	font-size: 35px;
}

.alto{
	height: min-content;
}

.botonCargando{
	display: none;
	width: 15px;
	height: 15px;
	font-size: 10px;
	margin: 0 auto;
}
  
.tituloCargando{
	text-align: center;
	display: block;
}
  
.margenSO{
	margin-right: 3px;
}

.margenCarta{
	margin-top: 1%;
	margin-bottom: 1%;
}

.centrarMensaje{
	color: rgb(100, 100, 100);
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.botonBuscar{
	width: 100%;
	height: 42px;
	margin-bottom: 0px;
}

.bi-search{
	text-decoration: none;
}

.sinMapa{
	display: table;
	width: 100%;
	height: 100%;
	color: rgb(86, 86, 86);
	text-align: center;
	background: url('../img/mapa.jpg');
	background-size: cover;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.textoSinMapa{
	display: table-cell;
    vertical-align: middle;
}

