/*Tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.mostrarPagina{
    display: none;
}

.logo{
   width: 25px;
   height: 25px;
}

.textoLogo{
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
}

@media (max-width: 550px) { 
   .textoLogo{
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
   }

   .logoUsuario {
      display: none;
    }
}

.seleccionado{
    color: #191919;
}

.noSeleccionado{
    color: #7f7f7f;
}

.ulNav{
    list-style-type: none;
}

.liNav{
    float: right;
    width: 1.9em;
}

.opcionConfiguracion{
    width: 100%;
    text-align: left;
}

.derecha{
    float: right;
}

.botonEditar{
    width: 100%;
    height: 38px;
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
}

.editarUsuario{
    text-align: center;
    display: block;
}

.cargandoEditar{
    display: none;
    width: 15px;
    height: 15px;
    font-size: 10px;
    margin: 0 auto;
}

.botonDeshabilitar{
   width: 100%;
   height: 38px;
   margin-top: 10%;
   margin-bottom: 4%;
   text-align: center;
}

.botonDeshabilitarCargando{
   display: none;
   width: 15px;
   height: 15px;
   font-size: 10px;
   margin: 0 auto;
}

.alerta{
   left: 50%;
   transform: translate(-50%);
   position: fixed;
   font-size: small;
   top: 1%;
   bottom: auto;
   visibility: hidden;
   box-sizing: border-box;
}

@media (max-width: 768px) {
   .alerta {
      left: 50%;
      transform: translate(-5%, -5%, -5%);
      width: 95%;
      position: fixed;
      font-size: small;
      top: 1%;
      bottom: auto;
      visibility: hidden;
      box-sizing: border-box;
    }
}

.alertaError{
    visibility: visible;
}
  
.noValidado{
   visibility: hidden;
   color: rgb(255, 93, 93);
}
  
.validado{
   visibility: hidden;
   color: rgb(105, 189, 50);
 }
  
.signo{
   visibility: visible;
   color: rgb(255, 185, 93);
}
  
.mostrar{
  visibility: visible;
}
  
.fotoPerfil{
   width: 100%;
   height: 100%;
}

.botonConfProf{
   text-align: center;
   display: block;
}

.cargandoConfiguracionGrilla{
   display: none;
   width: 15px;
   height: 15px;
   font-size: 10px;
   margin: 0 auto;
}

/*Editar Usuario*/
.formularioEditarUsuario{
   display: none;
}

.formularioEditarUsuarioPreValidacion{
   display: block;
}

.botonPreValidacionEditar{
   width: 100%;
   height: 38px;
   margin-top: 10%;
   margin-bottom: 4%;
   text-align: center;
}

.textoPreValidacionEditar{
   text-align: center;
   display: block;
}

.cargandoPreValidacionEditar{
   display: none;
   width: 15px;
   height: 15px;
   font-size: 10px;
   margin: 0 auto;
}

/*Deshabilitar Usuario*/
.cardDeshabilitarUsuario{
    display: none;
 }

.formularioDeshabilitarUsuarioPreValidacion{
   display: block;
}

.botonPreValidacionDeshabilitar{
   width: 100%;
   height: 38px;
   margin-top: 10%;
   margin-bottom: 4%;
   text-align: center;
}

.textoPreValidacionDeshabilitar{
   text-align: center;
   display: block;
}

.cargandoPreValidacionDeshabilitar{
   display: none;
   width: 15px;
   height: 15px;
   font-size: 10px;
   margin: 0 auto;
}