*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('https://fondosmil.com/fondo/6749.jpg');
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}