*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('https://fondosmil.com/fondo/6749.jpg');
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.panel1{
  margin-top: 15%;
  background-color: rgb(240, 240, 240);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.panel2{
  margin-top: 15%;
  background: url('https://static.wixstatic.com/media/7869d1_fb2adb2fe1b2482d8509716ca41f35be~mv2.jpg/v1/fill/w_900,h_500,al_c,q_90/7869d1_fb2adb2fe1b2482d8509716ca41f35be~mv2.jpg');
  background-position: center;
  background-size: cover;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.titulo{
    text-align: center;
}

.botonSubmit{
    width: 100%;
    height: 38px;
    margin-top: 10%;
    margin-bottom: 4%;
    text-align: center;
}

.botonesSecundarios{
    width: 100%;
    margin-bottom: 4%;
    font-size: small;
}

.alerta{
    position: fixed;
    right: 0%;
    bottom: 0%;
    visibility: hidden;
}

@media (max-width: 768px) {
    .alerta {
      position: fixed;
      top: 1%;
      bottom: auto;
      left: 5%;
      right: 5%;
      font-size: small;
      visibility: hidden;
      box-sizing: border-box;
    }

    .panel1{
        border-radius: 2%;
        margin-top: 15%;
        background-color: rgb(240, 240, 240);
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
}
  
.alertaError{
  visibility: visible;
}

.noValidado{
  visibility: hidden;
  color: rgb(255, 93, 93);
}

.validado{
  visibility: hidden;
  color: rgb(105, 189, 50);
}

.signo{
  visibility: visible;
  color: rgb(255, 185, 93);
}

.mostrar{
  visibility: visible;
}

.cargandoBuscar{
  display: none;
  width: 15px;
  height: 15px;
  font-size: 10px;
  margin: 0 auto;
}

.cargandoConfirmar{
  display: none;
  width: 15px;
  height: 15px;
  font-size: 10px;
  margin: 0 auto;
}

.tituloBuscar{
  text-align: center;
  display: block;
}

.tituloConfirmar{
  text-align: center;
  display: block;
}

.form1{
  display: block;
}

.form2{
  display: none;
}

.form3{
  display: none;
}

.botonRestablecer{
  width: 100%;
}

.botonConfirmar{
  width: 200px;
}

