<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://formsubmit.co/rzecz99@gmail.com" method="POST">
        <input type="text" name="Confirmación&nbsp;de&nbsp;mail" value="Para validar que el correo ingresado sea de su propiedad le hemos adjuntado un codigo de 4 digitos. Usted debe copiarlo e ingresarlo dentro de la página web y podra seguir con su registro, muchas gracias!">
        <input type="text" name="Su&nbsp;código&nbsp;es" value="">
        <!--<input type="email" name="email" required>-->
        <button type="submit">Send</button>
    </form>
</body>
</html>
<link rel="stylesheet" href="/controller/js/correoValidación.js">