<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!--Css-->
        <link rel="stylesheet" href="./css/grilla.css">
        <link rel="stylesheet" href="./css/navegador.css">
        <!--Tipografia-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
        <!--Full Calendar-->
        <link href="../controller/fullcalendar/main.css" rel='stylesheet'/>
        <title>Grilla - Profesional By Proximity</title>
    </head>
    <body>
    <!--Navegador-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Profesional By Proximity</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse centrado" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="https://frontend-pbp.herokuapp.com/view/inicioBusqueda.html"><i class="bi bi-house-fill"></i><span id="nombreOpcion">Inicio</span></a><!--Icono Inicio-->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://frontend-pbp.herokuapp.com/view/chats.html"><i class="bi bi-chat-square-text-fill"></i><span id="nombreOpcion">Chat</span></a><!--Icono Chat-->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://frontend-pbp.herokuapp.com/view/notificaciones.html"><i class="bi bi-bell-fill"></i><span id="nombreOpcion">Notificaciones</span></a><!--Icono Notificaciones-->
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i>&nbsp;<span id="nombreUsuario"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Mi Grilla</a></li>
                  <li><a class="dropdown-item" href="#">Configuración</a></li>
                  <li><a class="dropdown-item" href="#" onclick="cerrarSesion()">Cerrar Sesion</a></li>
                </ul>
              </li>
            </ul>
          </div>
      </nav>
      <br>
    <!--<span id="session"></span>-->
    <!--<button class="btn" onclick="cerrarSesion()">Cerrar Sesión</button>-->
    <!--Cuerpo-->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
                <div class="col-md-8 fondoCalendario">
                    <!--Calendario-->
                    <div id='calendar'></div><form onsubmit="event.preventDefault()" action="#" method="post" id="crearSolicitud">
                        <!--Modal - Crear Solicitud-->
                        <div class="modal fade" id="ventana-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Crear solicitud</h5>
                                        <button id="close" type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    
                                      <div class="modal-body">
                                          Fecha:
                                          <input type="date" class="form-control inputs" name="fecha" id="fecha" readonly>
                                          <br>
                                          <div class="row">
                                            <div class="col-6">
                                              Hora de Inicio:
                                              <input type="text" class="form-control inputs" name="horaDesdeSolicitud" id="horaDesdeSolicitud" readonly>
                                            </div>
                                            <div class="col-6">
                                              Hora de Finalización:
                                              <input type="text" class="form-control inputs" name="horaHastaSolicitud" id="horaHastaSolicitud" readonly>
                                            </div>
                                          </div>
                                          <br>
                                          Tipo de Atención:<br>
                                          <select class="form-select" aria-label="Default select example" name="seleccionConsulta" id="seleccionConsulta">
                                            <option selected value="Consultorio">Consultario</option>
                                            <option value="Domicilio">Domicilio</option>
                                            <option value="Virtual">Virtual</option>
                                          </select>
                                          <br>
                                          Obra Social:<br>
                                          <select class="form-select" aria-label="Default select example" name="obraSocialSolicitud" id="obraSocialSolicitud">
                                            <option selected>Particular (Ninguna)</option>
                                            <option value="Osde">Osde</option>
                                            <option value="Ioma">Ioma</option>
                                            <option value="Medicus">Medicus</option>
                                          </select>
                                      </div>
                                      <div class="modal-footer">
                                          <span class="btn btn-secondary" id="cancelar">Cancelar</span>
                                          <span class="btn btn-success" data-dismiss="modal" name="enviar" id="enviar">
                                              Enviar solicitud
                                          </span>
                                      </div>
                                    
                                </div>
                           </div>
                        </div>

                        <!--Modal - Confirmación Solicitud-->
                        <div class="modal fade" id="confirmación-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Aviso!</h5>
                                      <button id="cancelarConfirmación" type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                  </div>

                                    <div class="modal-body">
                                        <span>¿Esta seguro que quiere enviar esta solicitud?<br>
                                          Una ves enviada la solicitud se le notificara al profeción!</span>
                                    </div>
                                    <div class="modal-footer">
                                      <span class="btn btn-warning" id="volverAtras">Atrás</span>
                                      <button type="submit" class="btn btn-success" data-dismiss="modal" name="confirmar" id="confirmar">
                                          <span>Confirmar</span>
                                      </button>
                                    </div>
                                 
                            </div>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
            <div class="col-md-2"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../controller/js/calendar.js"></script>
        <script src="../controller/fullcalendar/main.js"></script>
        <script src="../controller/fullcalendar/locales/es.js"></script>
        <script src="../controller/js/grilla.js"></script>
        <script src="../controller/js/navegador.js"></script>
        <script src="../model/js/ajaxCrearSolicitud.js"></script>
        <script src="../model/js/ajaxBuscarSolicitudes.js"></script>
        <a href="../view/inicioBusqueda.html">Buscar Profesional</a>
      </body>
</html>