<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Icono Página-->
    <link rel="icon" href="./img/icono.png">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--Css-->
    <link rel="stylesheet" href="./css/registros.css"><!--UNIFICAR NOMBRES DE ESTILO REGISTRO-->
    <!--<link rel="icon" href="./favicon.ico">-->
    <title>Registro Perfil - Profesional By Proximity</title>
</head>
<body id="mostrar">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel3">
                <h5 class="titulo">Datos Personales</h5>
                <br>
                <form onsubmit="event.preventDefault()" action="#" method="post" id="formulario">
                    <div class="row">

                        <div class="col-md-6"> 
                            <!--Campo Nombre-->
                            <span class="texto">Nombre </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoNombre" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="nombre" id="nombre">
                            <br>
                            <!--Campo Apellido-->
                            <span class="texto">Apellido </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoApellido" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="apellido" id="apellido">
                            <br>
                            <!--Campo Fecha de Nacimiento-->
                            <span class="texto">Fecha de nacimiento </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoFechaNacimiento" title="Campo Obligatorio"></i>
                            <br>
                            <input type="date" class="form-control inputs" name="fechaNacimiento" id="fechaNacimiento">
                            <br>
                            <!--Campo Sexo-->
                            <span class="texto">Sexo </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoSexo" title="Campo Obligatorio"></i>
                            <br>
                            <select class="form-select" name="sexo" id="sexo" aria-label="Floating label select example">
                                <option value="0" selected>Como figura en su DNI</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="X">X</option>
                            </select>
                            <br>
                            <!--Campo Foto-->
                            <span class="texto">Foto </span><i class="bi bi-x-circle-fill iconos validado" id="iconoFoto"></i>
                            <br>
                            <input type="file" class="form-control inputs" name="foto" id="foto">
                            <br>
                            <!--Campo Telefono-->
                            <span class="texto">Télefono </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoTelefono" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="telefono" id="telefono">
                            <br>
                        </div>
                        <div class="col-md-6">
                            <!--Campo Provincia-->
                            <span class="texto">Provincia </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoProvincia" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="provincia" id="provincia">
                            <br>
                            <!--Campo Localidad-->
                            <span class="texto">Localidad </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoLocalidad" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="localidad" id="localidad">
                            <br>
                            <!--Campo Calle-->
                            <span class="texto">Nombre de calle/avenida </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoCalle" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="calle" id="calle">
                            <br>
                            <!--Campo Número-->
                            <span class="texto">Altura de calle/avenida </span><i class="signo bi bi-exclamation-circle-fill noValidado" id="iconoAltura" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="altura" id="altura">
                            <br>
                            <!--Campo Departamento-->
                            <span class="texto">Departamento </span><i class="bi" id="iconoDepartamento" title="Campo Obligatorio"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="departamento" id="departamento">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning botonPerfil" name="boton" id="boton">
                        <span class="tituloRegistrar" id="tituloRegistrar">Crear perfil</span>
                        <div class="spinner-border text-secondary cargandoRegistrar" id="cargandoRegistrar" role="status"></div>
                    </button>     
                </form> 
            <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <!--Alerta Nombre-->
    <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertNombre">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Nombre: </strong>
        El nombre ingresado no es valido!
        <br>Debe tener de 2 a 30 caracteres los cuales no 
        <br>puede ser numeros ni caracteres especiales.
    </div>   
    <!--Alerta Apellido-->
    <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertApellido">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Apellido: </strong>
        El apellido ingresado no es valido!
        <br>Debe tener de 2 a 30 caracteres los cuales no 
        <br>puede ser numeros ni caracteres especiales.
    </div>
    <!--Alerta Fecha Nacimiento-->
    <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertFechaNacimiento">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Fecha de nacimiento: </strong>
        Debes ser mayor de 16 años para utilizar
        <br>nuestros servicios!
    </div>
    <!--Alerta Sexo-->
    <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertSexo">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Sexo: </strong>
        El campo sexo es obligatorio!
    </div>
     <!--Alerta Télefno-->
     <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertTelefono">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Télefono: </strong>
        El télefono ingresado no es valido!
    </div> 
     <!--Alerta Provincia-->
     <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertProvincia">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Provincia</strong>
        La provincia ingresada no es valida!
    </div> 
     <!--Alerta Localidad-->
     <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertLocalidad">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Localidad: </strong>
        La localidad ingresada no es valida!
    </div> 
     <!--Alerta Calle/Avenida-->
     <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertCalle">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Calle/Avenida: </strong>
        La calle o avenida ingresada no es valida!
    </div> 
     <!--Alerta Altura-->
     <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertAltura">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Altura: </strong>
        La altura ingresada no es vailida!
    </div> 
     <!--Alerta -->
     <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertDepartamento">
        <i class="bi bi-info-circle-fill"></i>
        <strong>Departamento: </strong>
        El departamento ingresado no es valido!
    </div> 
    <script src="../controller/js/registroPaciente.js"></script>
    <script src="../model/js/ajaxRegistroPaciente.js"></script>
</body>
</html>