<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--Css-->
    <link rel="stylesheet" href="./css/registros.css"><!--UNIFICAR NOMBRES DE ESTILO REGISTRO-->
    <!--<link rel="icon" href="./favicon.ico">-->
    <title>Registro Perfil - Profesional By Proximity</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel3">
                <h5 class="titulo">Datos Personales</h5>
                <br>
                <form onsubmit="event.preventDefault()" action="#" method="post" id="formulario">
                    <div class="row">

                        <div class="col-md-6"> 
                            <!--Campo Nombre-->
                            <span class="texto">Nombre </span><i class="bi bi-x-circle-fill iconos validado" id="iconoNombre"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="nombre" id="nombre">
                            <br>
                            <!--Campo Apellido-->
                            <span class="texto">Apellido </span><i class="bi bi-x-circle-fill iconos validado" id="iconoApellido"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="apellido" id="apellido">
                            <br>
                            <!--Campo Fecha de Nacimiento-->
                            <span class="texto">Fecha de nacimiento </span><i class="bi bi-x-circle-fill iconos validado" id="iconoFechaNacimiento"></i>
                            <br>
                            <input type="date" class="form-control inputs" name="fechaNacimiento" id="fechaNacimiento">
                            <br>
                            <!--Campo Sexo-->
                            <span class="texto">Sexo </span><i class="bi bi-x-circle-fill iconos validado" id="iconoSexo"></i>
                            <br>
                            <select class="form-select" id="sexo" aria-label="Floating label select example">
                                <option selected>Como figura en su DNI</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="X">X</option>
                            </select>
                            <br>
                            <!--Campo Foto-->
                            <span class="texto">Foto </span><i class="bi bi-x-circle-fill iconos validado" id="iconoFoto"></i>
                            <br>
                            <input type="file" class="form-control inputs" name="departamento" id="foto">
                            <br>
                            <!--Campo Telefono-->
                            <span class="texto">Télefono </span><i class="bi bi-x-circle-fill iconos validado" id="iconoTelefono"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="telefono" id="telefono">
                            <br>
                            <!--<a href="./view/grilla.html" class="btn btn-warning botonLogin" name="boton" id="boton">
                                <span id="loguearse">Iniciar Sesión</span>
                            </a>-->
                            <!--Alerta Nombre Usuario-->
                            <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertNombreUsuario">
                                <i class="bi bi-info-circle-fill"></i>
                                <strong>Nombre de Usuario:</strong>
                                El nombre de usuario ingresado no es valido
                                <br>a una dirección valida.
                                <br>Solamente admite letras en "minuscula".<!--Corregir con java-->
                            </div>   
                            <!--Alerta Correo-->
                            <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertCorreo">
                                <i class="bi bi-info-circle-fill"></i>
                                <strong>Correo:</strong>
                                El correo ingresado no corresponde
                                <br>a una dirección valida.
                                <br>Solamente admite letras en "minuscula".<!--Corregir con java-->
                            </div>
                            <!--Alerta Contraseña-->
                            <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertPassword">
                                <i class="bi bi-info-circle-fill"></i>
                                <strong>Contraseña:</strong>
                                La contraseña debe tener de 8 a 16 caracteres.
                                <br>Debe contener al menos una "mayuscula" y un "digito".
                            </div>
                            <!--Alerta Contraseña-->
                            <div class="alert alert-warning alert-dismissible fade show alerta" role="alert" id="alertPassword2">
                                <i class="bi bi-info-circle-fill"></i>
                                <strong>Validación Contraseña:</strong>
                                La validación de contraseña debe tener de 8 a 16 caracteres, 
                                <br>Debe contener al menos una "mayuscula" y un "digito"
                                <br>y coincidir con la contraseña.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--Campo Provincia-->
                            <span class="texto">Provincia </span><i class="bi bi-x-circle-fill iconos validado" id="iconoProvincia"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="provincia" id="provincia">
                            <br>
                            <!--Campo Localidad-->
                            <span class="texto">Localidad </span><i class="bi bi-x-circle-fill iconos validado" id="iconoLocalidad"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="calle" id="localidad">
                            <br>
                            <!--Campo Calle-->
                            <span class="texto">Nombre de Calle/Avenida </span><i class="bi bi-x-circle-fill iconos validado" id="iconoCalle"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="calle" id="calle">
                            <br>
                            <!--Campo Número-->
                            <span class="texto">Altura de Calle/Avenida </span><i class="bi bi-x-circle-fill iconos validado" id="iconoAltura"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="altura" id="altura">
                            <br>
                            <!--Campo Departamento-->
                            <span class="texto">Departamento </span><i class="bi bi-x-circle-fill iconos validado" id="iconoDepartamento"></i>
                            <br>
                            <input type="text" class="form-control inputs" name="departamento" id="departamento">
                            <!--Latitud y Longitud se calcularan más adelante-->
                            <button type="submit" class="btn btn-warning botonLogin espaciar" name="boton" id="boton">
                                <span id="loguearse">Crear Perfil</span>
                            </button>     
                        </div>
                    </div>
                </form> 
            <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <script src="../controller/js/registroPaciente.js"></script>
    <script src="../model/js/ajaxRegistroPaciente.js"></script>
</body>
</html>